/*@import "mocha.css";*/
@import "colors-waybar.css";

* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", "Hack Nerd Font", FontAwesome, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  color: @color7;
  background: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 90px;
}

window#waybar.empty {
  opacity: 0.3;
}

.modules-left {
  border: none;
  padding: 5px 5px;
}

.modules-right {
  border: none;
  padding: 5px 5px;
}

.modules-center {
  border: none;
  padding: 5px 5px;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: @background;
  border-radius: 60px;
}

#custom-power {
  color: @color1;
  font-weight: 600;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 19px;
  border-radius: 90px;
  background: @background;
}
#battery {
  color: @color2;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @background;
}

#workspaces {
  font-weight: 600;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 90px;
  background: @background;
}

#workspaces button {
  color: @color7;
  font-weight: 600;
  margin: 0px;
  padding: 0px 5px;
}

#workspaces button.urgent {
  color: red;
}
#workspaces button.empty {
  color: @color8;
}

#workspaces button.active {
  color: @color5;
}

#workspaces button.focused {
  color: @green;
}

#cpu,
#temperature,
#memory,
#disk {
  color: @blue;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @crust;
}

#pulseaudio {
  color: @color2;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @background;
}

#network {
  color: @color2;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @background;
}

#tray {
  color: @color2;
  font-weight: 600;
  padding: 6px 15px;
  border-radius: 90px;
  background: @background;
}

#clock {
  color: @color0;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @foreground;
}

#custom-sepp {
  color: @surface2;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 10px;
}

#network.disconnected {
  background-color: @color8;
}
